.test-coloring {
        background-color: rgb(240,240,240);
        height: 100%;
      }

      .btn-default {
        margin: 10px 0px;
      }  
      
#canvas {
   border: 1px solid #DDDDDD;
   width: 200px;
   height: 200px;
   position: relative;
    
}

.win-screen {
   margin: 0 auto;
   width:450px;
   top: 150px;
   left:75px;
   position: absolute;
   z-index: 1000;
   border:1px solid #000000;
   background-color: #FFFFFF;
   padding: 5px;
   color: #000000;
   font-weight: bold;
    
}

.replaydiv {
    left:110px;
    position: relative;
    
}