.navi{opacity:0.85;
    background-color:yellow;
}

#logout-button {cursor:pointer;}


.panel > .panel-heading {
    background-image: none;
    background-color: red;
    color: yellow;

}

.panel  {
    background-image: none;
    background-color: yellow;
    color: red;


}

